<html>
    <head>
        <style>
            #SearchBar{
                margin-left: 5%;
                width: 10%;
            }
            #labels{
                margin-left: 17%;
            }
        </style>
    </head>
    <body>
        <h2 style="text-align: center;">Rohan Alampalli Rajashekara</h2>
        <h2 style="text-align: center;">Quiz 1</h2>
        <h3 style="text-align: center;">1001855014</h3>
        <br>
        <img src="https://rxa5014storage.blob.core.windows.net/quiz1/s.jpg" style="width: 200px; height: 200px; margin-left: 40%; margin-bottom: 10%;" alt="No Image found">
        <form action="/takedata" , method="POST" , method = "GET">
        <label id="labels">Enter a ID to search:</label>
        <input type="text" id="SearchBar" name="SearchBar"/>
        <input type="submit" id="button" style="margin-left: 10%;width: 10%;" value="Search"/>
        </form>
        <form action="/roomdata" , method="POST" , method = "GET">
            <label id="labels">Min Room Number</label>
            <input type="text" id="searchBar" name="minroom"/>
            <label id="labels" style="margin-left: 5%;">Max Room Number</label>
            <input type="text" id="searchBar" name="maxroom"/>
            <input type="submit" style="margin-left: 10%;width: 10%;" value="Search"/>
        </form>
        <form action="/searchname" , method = "POST", method="GET">
            <label id="labels">Enter Name:</label>
            <input type="text" id="SearchBar" name="SearchName"/>
            <input type="submit" style="margin-left: 10%;width: 10%;" value="Search"/>
        </form>
    </body>
</html>