<html>
<body>  
    <h2 style="text-align: center;">Rohan Alampalli Rajashekara</h2>
        <h2 style="text-align: center;">Quiz 1</h2>
        <h3 style="text-align: center;">1001855014</h3>
    <h1 style="text-align: center;">Details of {{name}}</h1>  
    {% for item in dict%}
       <form action="/update", method="POST" , method = "GET">
        {% if item[3] != '' %}
            <label style="margin-left: 20%;"> The file name is {{ item[3] }}</label>
            <br>
           <img style="width: 200px;height:200px;margin-left: 20%;" src="{{ url_for('static', filename=item[3]) }}" alt="No Image found"/>
           {%else%}
           <label> No image found</label>
        {%endif%}
           <br>
           <br>
           <br>    

            </form>        
           <br>
           <br>
    {% endfor %}
</body>   
</html>